body {
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
}

.top15div {
    position: absolute;
    height: 660px;
    width: 640px;
    overflow: hidden;
}

.top15div h4 {
    font-size: 12px;
    border-bottom: solid;
    border-color:#DDDDDD;
}

#reveal-player-button {
    height: 20px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: #DDDDDD;
}

#frame {
    position: relative;
    margin-top: 100px;
}